  <div class="row"><div class="col-12"><h2>Welcome!</h2></div></div>
  
  <div class="row">
    <div class="col-6">
      Thank you for your interest. Our website is currently under construction. For information about Shepherds Hut Market, please feel free to contact us or drop by the shop!
      <br/><br/>
      Thank you!
    </div>

    <div class="col-6">
      Shepherd's Hut Market<br/>
      Joyce Keyser<br/>
      637A Morrill St.<br/>
      Gilford, New Hampshire<br/>
      United States 03249<br/>
      (603) 393-4696<br/>
      jekeyser@metrocast.net<br/>
    </div>
  </div>
