<div class="row site_width" id="container">
  <section id="content"class="large-8 columns">
    <table class="table table-bordered">
      <tr>
        <td class="bio-pic"><%= image_tag "joyce.png" %></td>
        <td class="team-member">
          <span class="name">Joyce Keyser</span><br/>
          <span class="title">Owner</span>
        </td>
        <td>
          Bio
        </td>
      </tr>
  
      <tr>
        <td class="bio-pic"><%= image_tag "jeff.png" %></td>
        <td class="team-member">
          <span class="name">Jeff Keyser</span><br/>
          <span class="title">Owner</span>
        </td>
        <td>
          Bio
        </td>
      </tr>

      <tr>
        <td class="bio-pic"><%= image_tag "chris.jpg" %></td>
        <td class="team-member">
          <span class="name">Chris Hutchins</span><br/>
          <span class="title">Web Admin</span>
        </td>
        <td>
          Chris has 6 years of experience as a IT security software developer. As the web administrator for Shepherds Hut Market, he is responsible for the development, updates, and upkeep of the website and email systems.
        </td>
      </tr>
  
      <tr>
        <td class="bio-pic"><img src="resources/cat.jpg"/></td>
        <td class="team-member">
          <span class="name">Shop Cat</span><br/>
          <span class="title">Mascot</span>
        </td>
        <td>
          Bio
        </td>
      </tr>
    </table>
  </section>
</div>
