<!DOCTYPE html>
<html>
  <head>
    <title>Shepherdshutmarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/normalize.css?rwcache=555186378" />
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/foundation.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/styles.css?rwcache=555186378"  />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/colourtag.css?rwcache=555186378" />
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/media_queries.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/title_shadow.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/slogan_shadow.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/scroll_down_button_hidden.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/scroll_up_button_hidden.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/width/width_960px.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/banner/banner_1.css?rwcache=555186378" />
    <link href='https://fonts.googleapis.com/css?family=Open Sans:400,300,800|Noto Serif|Arvo' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="robots" content="index, follow" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/javascript.js?rwcache=555186378"></script>
    <script src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/jquery.min.js?rwcache=555186378"></script>
    <script src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/elixir.js?rwcache=555186378"></script>
    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/fitvids.js?rwcache=555186378"></script>
    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/sidebar/sidebar_hidden.js?rwcache=555186378"></script>
  </head>

  <body>
    <%= render 'layouts/header.html.erb' %>
  </body>
</html>
