<!DOCTYPE html>
<html>
  <head>
    <title>Shepherdshutmarket</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://shepherdshutmarket.com/resources/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content="RapidWeaver" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href='https://fonts.googleapis.com/css?family=Open Sans:400,300,800|Noto Serif|Arvo' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/normalize.css?rwcache=555186378" />
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/foundation.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/styles.css?rwcache=555186378"  />
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/colourtag.css?rwcache=555186378" />  
    <link rel="stylesheet" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/media_queries.css?rwcache=555186378" />
    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/javascript.js?rwcache=555186378"></script>
    <script src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/jquery.min.js?rwcache=555186378"></script>
    <script src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/elixir.js?rwcache=555186378"></script>
    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/fitvids.js?rwcache=555186378"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/title_shadow.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/slogan_shadow.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/scroll_down_button_hidden.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/toggles/scroll_up_button_hidden.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/width/width_960px.css?rwcache=555186378" />
    <link rel="stylesheet" type="text/css" media="screen" href="https://shepherdshutmarket.com/rw_common/themes/tesla/css/banner/banner_1.css?rwcache=555186378" />
    <script type="text/javascript" src="https://shepherdshutmarket.com/rw_common/themes/tesla/js/sidebar/sidebar_hidden.js?rwcache=555186378"></script>
    <style type="text/css" media="all">
      #logo{
        height:0% !important;
      }
      #title_wrapper{
	top: 0% !important;
      }
      header[role="banner"]{
	height: 25% !important;
      }	
      figure > img {
        display: block;
      }
      figcaption {
        font-size: $small-font-size;
      }
      .wrapper {
        display: flex;
        align-items: stretch;
        perspective: 1500px;
      }
    </style>
    <link rel="stylesheet" type="text/css" href="https://shepherdshutmarket.com/rw_common/assets/global.css?rwcache=555186378" />
  </head>

  <body>
    <%= render 'layouts/header.html.erb' %>
  </body>
</html>
